# .ebextensions/laravel.config

option_settings:
  aws:elasticbeanstalk:application:environment:
    # Set the Laravel document root to the /public directory
    DOCUMENT_ROOT: /public
  aws:elasticbeanstalk:container:php:phpini:
    # Increase memory limit if needed
    memory_limit: 256M

container_commands:
  01_install_composer:
    command: "if [ ! -f /usr/bin/composer ]; then curl -sS https://getcomposer.org/installer | php -- --install-dir=/usr/bin --filename=composer; fi"
  02_composer_update:
    command: "composer.phar install --no-dev --optimize-autoloader"
  03_migrate_database:
    command: "php artisan migrate --force"
    leader_only: true
  04_cache_all:
    command: "php artisan optimize"